.done{text-decoration: line-through;
			opacity: .5;}

body{
	background-color: #83af9b;
}

#header{
	margin: 80px auto;
	text-align: center;
	width: 100%;
	font-size: 35px;
	letter-spacing: 2px;


}

#container{
	

	background: #fc9d9a;
width: 500px;
margin: 50px auto;
padding-bottom: 15px;
box-shadow: 10px 20px 20px #888888;
border-radius: 50px;

}

#frm{
	width:100%;
	box-sizing: border-box;
	padding: 30px;

}
#task-inp{
	width:370px;
	line-height: 40px;
	border-radius: 50px;
	font-size: 16px;
	letter-spacing: 1px;
	padding-right: 10px;
	padding-left: 10px;
	border: none;

}

#ad-btn{
	width:46px;
	float: right;
	height: 46px;
	background: none;
	border:none;
	color: gray;
	padding-left: 17px;
	font-size: 18px;
	font-weight: bold;

}

#del-btn{
	background: none;
	border: none;
	color:gray;
font-size: 18px;
font-weight: bold;


}

#dlb{
	margin-left: 80px;
	margin-right: 80px; 
	text-align: center;
	border-bottom: 2px solid #f9cdad;
}


#list{
	line-height: 40px;
	margin-right: 40px;
	/*background:  #c8c8a9;*/
	list-style: none;
	font-size: 17px;
    letter-spacing: 1px;
    color: gray;
    border-bottom: 2px solid #f9cdad;


}



#mylist{
	margin-top:15px;
}

#del-btn:hover, #ad-btn:hover,#check:hover{
	cursor: pointer;
	font-size: 19px;
}

#task-inp:hover{
	border: 1px solid #ccc;

}

#container:hover{
	border: 1px solid #fc9d9a ;
	
}

#header h1:hover{
	letter-spacing: 5px; 
}
