h1{
background-color: #e84a5f;
/*border-top-left-radius: 10px;
border-top-right-radius: 10px;*/
text-align: center;
padding: 20px 20px;
margin: 0;
font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 35px;
color: white;
letter-spacing: 4px;
}


body{
 background-color: #2a363b;

}
#container{
  
  width: 500px;
    margin: 150px auto;
    background:  #feceab;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    border-radius: 10px;
    border:20px solid #fbf7f5;
}

input{
  width: auto;
  background-color: #fbf7f5;
  font-size: 18px;
  border: none;
  color: #666;
  padding: 13px 13px 13px 20px;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 2px;
}

.completed{
  color: gray;
  text-decoration: line-through;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

li{
  background:  #ff8a7c;
  line-height: 40px;
  color: #666;
  font-size: 18px;
  padding-left: 13px;
  letter-spacing: 1px;


}
li:nth-child(2n){
  background-color:  #feceab;
}

span{
  margin-right: 13px;
  float: right;
  color: #e84a5f;

}



/*color pallete
#e84a5f
#ff8a7c
#feceab
#fbf7f5
#666
#2a363b*/